<link rel="stylesheet" href="C:/Repository/mkoohafkan.github.io/css/github-comments.css" media="screen" type="text/css">

<div class="comment">
  <div class="commentheader">
    <div class="commentgravatar">
      <img src="https://avatars.githubusercontent.com/u/4790348?v=3" alt="" width="20" height="20">
    </div>
    <a class="commentuser" href="https://github.com/mkoohafkan">mkoohafkan</a>
    <a class="commentdate" href="https://github.com/mkoohafkan/mkoohafkan.github.io/issues/23#issuecomment-273963125">1/19/2017 6:46:14 PM</a>
  </div>
  <div class="commentbody">
    Here's an example comment!
  </div>
</div>
