.category-cloud {
  list-style: none;
  padding: 0;
  text-align: justify; 
  li {
    display: inline-block;
    margin: 0 12px 12px 0; 
    a {
      color: #666;
      background-image: none;    

    }
    a:hover,
    a:focus,
    a:active {
      color: #444;
      opacity: 1;
    background-image: linear-gradient(to top,
      rgba(0,0,0,0) 13%,
      rgba(#444,.8) 13%,
      rgba(#444,.8) 18%,
      rgba(0,0,0,0) 17%
  );
    }
  }
}
#archives {
  padding: 5px;
}
.archive-group {
  margin: 5px;
  border-top: 1px solid #ddd;
}
.archive-item {
  margin-left: 5px;
  a {
    color: #333;
    background-image: none;
    font-weight: 300;
  }
  a:hover,
  a:focus,
  a:active{
    opacity: 0.88;
    background-image: none;    
  } 
}
