.site-header {
  padding-top: $space-1;
  padding-bottom: $space-2;
}

.site-header a {
  color: $header-color;
  text-shadow: $header-shadow 1px 0px 0px, $header-shadow -1px 0px 0px;
  font-size: $h3;
  font-weight: 300;
  background-image: none;
}

.site-header a small em {
  text-shadow: none;
}

.site-header .site-title {
  font-size: $h2;
}

.site-nav {
  margin-top: $space-2;
}

.site-header nav a {
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {
  opacity: 0.68;
}

.site-nav a + a {
  margin-left: 1em;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.68;
}

.site-header {
  text-align: center;
}

.site-header .site-nav {
  text-align: center;
}
